{% extends 'header.html' %}
{% block content %}
	<div class="jumbotron jumbotron-fluid" style="background-image: url('https://gust-production.s3.amazonaws.com/uploads/startup/panoramic_image/911706/jumbotron-bg.png'); background-size: cover;">
		<div class="container">
	    	<h1 class="display-4">Neural Style Transfer</h1>
	    	<p class="lead">The project is to style a content image using another image called style using neural style transfer algorithm.</p>
	    	<br><br>
	  	</div>
	</div>
	<br><br><br><br>
	<form method=post enctype=multipart/form-data>
		<div class="row justify-content-md-center">
			<div class="col-md-4 mb-3 border border-info">
				<label for="exampleFormControlFile1">Content Image:</label>
				<input type="file" name="content" value="content" class="form-control-file" id="exampleFormControlFile1" required>
				<div class="valid-feedback">
			        Looks good!
			    </div>
			</div>
			<div class="col-md-4 mb-3 mb-3 border border-primary">
				<label for="exampleFormControlFile2">Style Image:</label>
				<input type="file" name="style" value="style" class="form-control-file" id="exampleFormControlFile2" required>
				<div class="valid-feedback">
	        		Looks good!
	    		</div>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<button class="btn btn-primary col-md-auto" type="submit">Submit</button>
		</div>
    </form>
{% endblock %}